.container {
  margin: 0 auto;
  position: relative;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.514);
}

.modal-box {
  background-color:white;
  width: 300px;
  height: 150px;
}

.modal-header {

}

.options {

}

.description {

}

.submit-button {

}

.row {
  display: flex;
  width: 100%;
}

.row.page-title,
.row.add-entry {
  justify-content: center;
}

.main-button {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1% 5%;
}

h1{
}
